<div class=" mt-20 mb-32 md:mb-20 md:flex fade-in">

    <img src="/assets/images/photo2.jpg" class="w-3/4 h-3/4 mt-2 md:w-1/4 lg:pl-12 md:pl-8 mx-auto p-4 md:shrink-0 self-center">

    <div class="w-full mt-2 px-6 lg:px-12 md:px-8 text-justify content-center">

        <div class="pb-4">
            Salut ! Je m'appelle Julie, et je suis dévelopeuse.
            J'ai des connaissances dans le web, notamment avec Angular et Spring Boot,
            mais aussi dans le jeu vidéo, avec Unity. Je m'épanouis dans la conception de projets qui mêlent 
            technologie et créativité.
        </div>

        <div class="pb-4">

            Mon objectif est de travailler dans l'industrie du jeu vidéo, où je pourrais offrir une expérience captivante pour les joueurs.
            Quand je ne suis pas en train de coder, vous me trouverez probablement à streamer des jeux sur Twitch, ou à expérimenter de nouvelles idées pour mon prochain projet.
            
        </div>

        <div class="">
            Explorez mon portfolio, mon GitHub et mon Unity Play pour en savoir plus, et n'hésitez pas à me contacter pour échanger ou collaborer !
        </div>
    </div>


</div>