<div class="mt-14 mb-32 md:mb-20 sm:flex fade-in">

    <img src="assets/images/photo2.jpg" class="w-3/4 h-3/4 md:w-1/4 lg:pl-12 md:pl-8 mx-auto p-4 md:shrink-0 self-center">

    <div class="w-full mt-2 px-6 lg:px-12 md:px-8 text-justify content-center">

        <div class="pb-4">
            Salut ! Je m'appelle Julie, et je suis développeuse.
        </div>

        <div class="pb-4">
            J'ai des connaissances dans le web, notamment avec <b>Angular</b> et <b>Spring Boot</b>,
            mais aussi dans le jeu vidéo, avec <b>Unity</b> ou le <b>Divinity Engine 4</b>.
            Je m'épanouis dans la conception de projets qui mêlent 
            technologie et créativité.
            Je parle également couramment anglais : j'ai étudié à l'étranger, et j'ai travaillé 4 ans dans un pub irlandais !
        </div>

        <div class="pb-4">

            Mon objectif est de travailler dans l'industrie du jeu vidéo, où je pourrais offrir une expérience captivante pour les joueurs.
            Quand je ne suis pas en train de coder, vous me trouverez probablement à streamer des jeux sur Twitch, ou à expérimenter de nouvelles idées pour mon prochain projet.
            
        </div>

        <div class="">
            Explorez mon portfolio, mon <a href="https://www.github.com/kaylinhh" class="underline text-teal-700">Github</a>        
            et mon <a href="https://play.unity.com/en/user/ccb5eb3e-1b9f-4f9c-adb3-181cf85b901d" class="underline text-teal-700">
            Unity Play</a>, ou encore,  mon <a href="https://www.canva.com/design/DAG13u4QpaE/YjDLqNwWLW0ceneVGP2ScQ/view?utm_content=DAG13u4QpaE&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h26854d6fa5" class="underline text-teal-700">CV</a> pour en savoir plus, et n'hésitez pas à me contacter pour échanger ou collaborer !
        </div>
        
    </div>

</div>