<div class="bg-black fixed bottom-0 w-full text-sm md:text-base">

<ul class="flex">

    <li class="p-2 md:p-4 underline flex text-teal-700 w-auto">
        <a href="https://www.github.com/kaylinhh" class="content-center">        
            <img src="assets/images/github.png" class="size-10 brightness-0 invert hover:filter-none"> 
        </a>
    </li>

    <li class="p-2 md:p-4 underline flex text-teal-700 w-auto">
        <a href="https://play.unity.com/en/user/ccb5eb3e-1b9f-4f9c-adb3-181cf85b901d" class="content-center">
            <img src="assets/images/unity.png" class="size-12 brightness-0 invert hover:filter-none"> 
        </a>
    </li>

    <li class="p-2 md:p-4 underline flex text-teal-700 w-auto">
        <a href="https://www.linkedin.com/in/julie-ly-704893272" class="content-center">
            <div class="">
            <img src="assets/images/linkedin.png" class="size-10 brightness-0 invert hover:filter-none">
            </div>
        </a>
    </li>

    <li class="p-2 mt-1 md:p-4 w-auto flex">
        <a href="mailto:ly.julie.dev@gmail.com">
            <img src="assets/images/mail.png" class="size-14 content-center mx-1 brightness-0 invert hover:filter-none">
        </a>
        <a href="mailto:ly.julie.dev@gmail.com" class="content-center underline">
            {{ mailAdress }}
        </a>
    </li>

</ul>

</div>