<div class="absolute bottom-0 w-full">
<ul class="flex">
    <li class="p-4 underline flex text-teal-700 w-1/5"> <img src="../../assets/images/github.png" class="size-12"> <a href="https://www.github.com/kaylinhh">Kaylinhh</a></li>
    <li class="p-4 underline flex text-teal-700 w-1/5"> <img src="../../assets/images/linkedin.png" class="size-12"> <a href="https://www.linkedin.com/in/julie-ly-704893272">LinkedIn</a></li>
    <li class="p-4 flex w-1/5"> <img src="../../../assets/images/mail.svg" class="size-12"> {{ mailAdress }}</li>
</ul>
</div>