<div class="absolute bottom-0 w-full">
<ul class="flex w-full">
    <li class="p-4 underline flex text-teal-700"> <img src="../../assets/github.png"> <a href="https://www.github.com/kaylinhh">Kaylinhh</a></li>
    <li class="p-4 underline flex text-teal-700"> <img src="/home/julie/dev/dev-portfolio/dev-portfolio/src/assets/github.png"> <a href="https://www.linkedin.com/in/julie-ly-704893272">LinkedIn</a></li>
    <li class="p-4 flex"> <img src="../../assets/mail.svg"> {{ mailAdress }}</li>
</ul>
</div>