<h1 class="mt-16 text-3xl mx-6 font-bold underline">{{project.name}}</h1>

<div class="mt-2 mb-32 md:mb-20 mx-6 md:flex fade-in">

    <div class="w-full md:w-3/4 p-2">

        <div class="relative p-2">

            <img [src]=[project.image] class="cursor-pointer hover:opacity-80 z-10 justify-self-center" (click)="openImageModal()">

            <div *ngIf="isImageModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-40" (click)="closeImageModal()">

                <div class="relative max-w-full max-h-full h-auto w-auto" (click)="$event.stopPropagation()">
                    <img [src]=[project.image] class="max-w-[90vw] max-h-[90vh] object-contain">
                </div>

            </div>
        </div>
        
        <p 
        class="text-justify py-4" 
        [innerHTML]="project.description | highlight:[
            { word: 'Table Tap', tag: 'i'},
            { word: 'Shake it!', tag: 'i'},
            { word: 'Pachinko Game', tag: 'i'},
            { word: 'Path to Menzoberranzan', tag: 'i'}
        ]">
        </p>

        <div class="relative p-2">

            <video autoplay muted loop [src]=[project.video] class="cursor-pointer hover:opacity-80 z-10 justify-self-center" (click)="openVideoModal()"></video>

            <div *ngIf="isVideoModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-40" (click)="closeVideoModal()">

                <div class="relative max-w-full max-h-full h-auto w-auto" (click)="$event.stopPropagation()">
                    <video playisinline=1 muted loop [src]=[project.video] class="max-w-[90vw] max-h-[90vh] object-contain"></video>
                </div>

            </div>
        </div>

        <ul>
            <li *ngFor="let skill of skillList" class="py-2">
                <p class="text-justify font-bold"> {{skill.skill}} </p>
                <p class="text-justify"> {{skill.example}} </p>
            </li>
        </ul>

    </div>

    <div class="w-full md:w-1/5 md:mx-4 md:fixed md:top-20 md:right-0 z-30">

        <li class="list-none pb-2">

            <span *ngIf="(currentLang$ | async) === 'fr'" class="font-semibold">Technologies utilisées:</span>
            <span *ngIf="(currentLang$ | async) === 'en'" class="font-semibold">Technologies used:</span>

            <ul *ngFor="let stack of project.stack">
                {{stack}}
            </ul>

        </li>

        <div *ngIf="project.type == 'web'" class="">

            <li class="list-none">

                <span class="font-semibold">Github:</span>

                <ul>
                    <a [href]=[project.link[0]] class="underline text-teal-700">Frontend</a>
                </ul>
                <ul>
                    <a [href]=[project.link[1]] class="underline text-teal-700">Backend</a>
                </ul>

            </li>

        </div>

        <div *ngIf="project.type == 'game'" class="">

            <li class="list-none">

                <span *ngIf="(currentLang$ | async) === 'fr'"  class="font-semibold">Jouable sur :</span>
                <span *ngIf="(currentLang$ | async) === 'en'"  class="font-semibold">Playable on:</span>

                <ul>
                    <a [href]=[project.link[0]] class="underline text-teal-700">Unity Play</a>
                </ul>

            </li>

        </div>

        <div *ngIf="project.type == 'mod'" class="">

            <li class="list-none">

                <span *ngIf="(currentLang$ | async) === 'fr'" class="font-semibold">Réseaux :</span>
                <span *ngIf="(currentLang$ | async) === 'en'" class="font-semibold">Socials:</span>

                <ul>
                    <a [href]=[project.link[0]] class="underline text-teal-700">Discord</a>
                </ul>
                <ul>
                    <a [href]=[project.link[1]] class="underline text-teal-700">Reddit</a>
                </ul>
                <ul>
                    <a [href]=[project.link[2]] class="underline text-teal-700">BlueSky</a>
                </ul>
                <ul>
                    <a [href]=[project.link[2]] class="underline text-teal-700">Instagram</a>
                </ul>

            </li>

        </div>
         
    </div>
</div>